extends adminLayout
block content
    .row-fluid#content-header
        .span12
            h1= title
    #content-body
        .row-fluid
            .span4
                .row-fluid
                    .span12
                        .box
                            .box-header
                                h2 栏目: 选择
                                .ops
                                    a(href="/article/add?column=xuanze") 添加文章 +
                            .box-body
                                ul.list
                                    if articles['xuanze']
                                        each article in articles['xuanze']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
                                                    
                .row-fluid
                    .span12
                        .box
                            .box-header
                                h2 栏目: 野地
                                .ops
                                    a(href="/article/add?column=yedi") 添加文章 +
                            .box-body
                                ul.list
                                    if articles['yedi']
                                        each article in articles['yedi']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
            .span4
                .box
                    .box-header
                        h2 栏目: 行动
                    .box-body
                        ul.tree-list
                            li 科研项目
                                span
                                    a(href="/article/add?column=keyanxiangmu") &nbsp;&nbsp;添加文章 +
                                ul.branch
                                    if articles['keyanxiangmu']
                                        each article in articles['keyanxiangmu']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
                            li 科普项目
                                span
                                    a(href="/article/add?column=kepuxiangmu") &nbsp;&nbsp;添加文章 +
                                ul.branch
                                    if articles['kepuxiangmu']
                                        each article in articles['kepuxiangmu']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
                            li 文化项目
                                span
                                    a(href="/article/add?column=wenhuaxiangmu") &nbsp;&nbsp;添加文章 +
                                ul.branch
                                    if articles['wenhuaxiangmu']
                                        each article in articles['wenhuaxiangmu']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
                            li 公益项目
                                span
                                    a(href="/article/add?column=gongyixiangmu") &nbsp;&nbsp;添加文章 +
                                ul.branch
                                    if articles['gongyixiangmu']
                                        each article in articles['gongyixiangmu']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
            .span4
                .row-fluid
                    .span12
                        .box
                            .box-header
                                h2 栏目: 团队
                                .ops
                                    a(href="/article/add?column=tuandui") 添加文章 +
                            .box-body
                                ul.list
                                    if articles['tuandui']
                                        each article in articles['tuandui']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})
                .row-fluid
                    .span12
                        .box
                            .box-header
                                h2 独立页面
                            .box-body
                                ul.tree-list
                                    //- li: a(href="#") 首页
                                    li 邀请
                                        ul.branch
                                            li: a(href="/node/lianxiwomen/edit?column=yaoqing") 联系我们
                                            li: a(href="/node/zhiyuanzhe/edit?column=yaoqing") 志愿者
                                            li: a(href="/node/juanzhuyuganxie/edit?column=yaoqing") 捐助与感谢
        .row-fluid
            .span4
                .row-fluid
                    .span12
                        .box
                            .box-header
                                h2 其它文章
                                .ops
                                    a(href="/article/add?column=other") 添加文章 +
                            .box-body
                                ul.list
                                    if articles['other']
                                        each article in articles['other']
                                            li
                                                a(href="/article/#{article._id}/edit")= article.title
                                                span.weight (#{article.weight})




                
