extends adminLayout
block content
	.row-fluid#content-header
		.span12
			h1= title
	.row-fluid#content-body
		.span4
			.box
				.box-header
					h2 独立页面
				.box-body
					ul.tree-list
						li: a(href="#") 首页
						li: a(href="/node/tuandui/edit") 团队
							ul
								li: a(href="/node/panwenshi/edit") 潘文石
									ul.branch
										li: a(href="/node/keyan/edit") 科研
										li: a(href="/node/rongyu/edit") 荣誉
										li: a(href="/node/zhuzuoyuwenzhang/edit") 著作与文章
										li: a(href="/node/yanlunyuyishi/edit") 言论与轶事
								li: a(href="/node/keyantuandui/edit") 科研团队
								li: a(href="/node/zhichituandui/edit") 支持团队
								li: a(href="/node/jigou/edit") 机构
						li 邀请
							ul.branch
								li: a(href="/node/lianxiwomen/edit") 联系我们
								li: a(href="/node/zhiyuanzhe/edit") 志愿者
								li: a(href="/node/juanzhuyuganxie/edit") 捐助与感谢
		.span4
			.box
				.box-header
					h2 栏目: 行动
				.box-body
					ul.tree-list
						li 科研项目
							span
								a(href="/article/add?catalog=keyanxiangmu") &nbsp;&nbsp;添加文章 +
							ul.branch
								if articles['keyanxiangmu']
									each article in articles['keyanxiangmu']
										li: a(href="/article/#{article._id}/edit")= article.title
						li 科普项目
							span
								a(href="/article/add?catalog=kepuxiangmu") &nbsp;&nbsp;添加文章 +
							ul.branch
								if articles['kepuxiangmu']
									each article in articles['kepuxiangmu']
										li: a(href="/article/#{article._id}/edit")= article.title
						li 文化项目
							span
								a(href="/article/add?catalog=wenhuaxiangmu") &nbsp;&nbsp;添加文章 +
							ul.branch
								if articles['wenhuaxiangmu']
									each article in articles['wenhuaxiangmu']
										li: a(href="/article/#{article._id}/edit")= article.title
						li 公益项目
							span
								a(href="/article/add?catalog=gongyixiangmu") &nbsp;&nbsp;添加文章 +
							ul.branch
								if articles['gongyixiangmu']
									each article in articles['gongyixiangmu']
										li: a(href="/article/#{article._id}/edit")= article.title
		.span4
			.box
				.box-header
					h2 栏目: 选择
					.ops
						a(href="/article/add?catalog=xuanze") 添加文章 +
				.box-body
					ul.list
						if articles['xuanze']
							each article in articles['xuanze']
								li: a(href="/article/#{article._id}/edit")= article.title
		.span4
			.box
				.box-header
					h2 栏目: 野地
					.ops
						a(href="/article/add?catalog=yedi") 添加文章 +
				.box-body
					ul.list
						if articles['yedi']
							each article in articles['yedi']
								li: a(href="/article/#{article._id}/edit")= article.title


				
