extends adminLayout
block head
    script.
        $(function() {
            $('#tags').tagsInput();
            });
        
block content
    .row-fluid
        #content-header.span12
            case itemType
                when 'photo'
                    h1 #{title}-照片
                when 'video'
                    h1 #{title}-视频
                when 'data'
                    h1 #{title}-资料
    .row-fluid
        #content-body.span12
            .item-preview
                if shareItem
                    case itemType
                        when 'photo'
                            img(src="#{shareItem.photolink}")
                        when 'video'
                            img(src="#{shareItem.thumbnail}")
                        when 'data'
                            img(src="#{shareItem.thumbnail}")
            form#edit-node-form(
                method="POST", 
                action=shareItem?"/share/item/#{shareItem._id}/edit":"/share/item/add/#{itemType}",
                enctype="multipart/form-data"
                )
                .control-group
                    label.control-label.inline(for="itemTitle") 标题：
                    .controls
                        input(type="text", name="itemTitle", value=shareItem?shareItem.title:null)
                case itemType
                    when 'photo'
                        .control-group
                            label.control-label.inline(for="catalog") 分类：
                            .controls
                                select(name="catalog")
                                    option(value="panda" selected=shareItem?shareItem.catalog=='panda':null) 大熊猫
                                    option(value="monkey" selected=shareItem?shareItem.catalog=='monkey':null) 白头叶猴
                                    option(value="dolphin" selected=shareItem?shareItem.catalog=='dolphin':null) 白海豚
                                    option(value="other" selected=shareItem?shareItem.catalog=='other':null) 其他
                        .control-group
                            label.control-label.inline(for="photo") 上传照片：
                            .controls
                                input(type="file", name="photo", accept="image/jpeg,image/png")
                        .control-group
                            label.control-label.inline(for="author") 作者：
                            .controls
                                input(type="text", name="author", value=shareItem?shareItem.author:null)
                        .control-group
                            label.control-label.inline(for="date") 日期：
                            .controls
                                input(type="text", name="date", value=shareItem?shareItem.date:null)
                        input(type="hidden", name="photolink", value=shareItem?shareItem.photolink:null)
                        input(type="hidden", name="thumbnail", value=shareItem?shareItem.thumbnail:null)
                    when 'video'
                        .control-group
                            label.control-label.inline(for="videolink") 视频地址：
                            .controls
                                input(type="text", name="videolink", value=shareItem?shareItem.videolink:null)
                        .control-group
                            label.control-label.inline(for="thumb") 缩略图：
                            .controls
                                input(type="file", name="thumb", accept="image/jpeg,image/png")
                        input(type="hidden", name="thumbnail", value=shareItem?shareItem.thumbnail:null)
                    when 'data'
                        .control-group
                            label.control-label.inline(for="datafile") 上传资料文件：
                            .controls
                                input(type="file", name="datafile")
                        .control-group
                            label.control-label.inline(for="thumb") 缩略图：
                            .controls
                                input(type="file", name="thumb", accept="image/jpeg,image/png")
                        input(type="hidden", name="datalink", value=shareItem?shareItem.datalink:null)
                        input(type="hidden", name="thumbnail", value=shareItem?shareItem.thumbnail:null)
                .control-group
                    label.control-label.inline(for="weight") 权重：
                        i (数值越高排列越靠前)
                    .controls
                        input(type="text", name="weight", value=shareItem?shareItem.weight:null)
                .control-group
                    label.control-label.inline(for="tags") 标签：
                        i (用逗号分隔)
                    .controls
                        input#tags(type="text", name="tags", value=shareItem?shareItem.tags.join(','):null)
                input(type="hidden", name="type", value=shareItem?shareItem.type:itemType)
                .form-actions
                    button.btn.btn-primary(type="submit") 提交
                    if shareItem
                        | 
                        a.btn.btn-link(href="/share/item/#{shareItem._id}/delete", onclick="return confirm('确定要删除这个分享吗？');") 删除这个分享