extends adminLayout
block head
    script(type="text/javascript", src="/js/album.js")
    script.
        $(function() {
            CKEDITOR.replace('articleContent', {
                height: '500px',
                filebrowserImageUploadUrl: '/upload/ckimage'
                });
            });
block content
    .row-fluid
        #content-header.span12
            h1 编辑文章: #{article.title}
    .row-fluid
        #content-body.span12
            form#edit-node-form(method="POST", action="/article/#{article._id}/edit")
                .control-group
                    label.control-label.inline(for="articleTitle") 文章标题：
                    .controls
                        input(type="text", name="articleTitle", value=article.title)
                .control-group
                    label.control-label.inline(for="weight") 文章权重：
                        i (数值越高的文章排列越靠前)
                    .controls
                        input(type="text", name="weight", value=article.weight)
                div
                    textarea.editor(name="articleContent")= article.content
                include album
                .form-actions
                    button.btn.btn-primary(type="submit") 提交
                    | 
                    a.btn.btn-link(href="/article/#{article._id}/delete", onclick="return confirm('确定要删除这篇文章吗？');") 删除这篇文章
            input#photo-uploader(type="file", name="file", accept="image/jpeg,image/png",style="display:none;")