extends adminLayout
block head
	script.
		$(function() {
			CKEDITOR.replace('nodeContent', {
				height: '500px',
				filebrowserImageUploadUrl: '/upload/ckimage'
				});
			});
block content
	.row-fluid
		#content-header.span12
			if nodeTitle
				h1= '编辑页面： ' + nodeTitle
			else
				h1= '编辑页面： ' + nodeName
	.row-fluid
		#content-body.span12
			form#edit-node-form(method="POST", action="/node/#{nodeName}/edit?column=#{nodeColumn}")
				.control-group
					label.control-label.inline(for="nodeTitle") 页面标题：
					.controls
						input(type="text", name="nodeTitle", value="#{nodeTitle}")
				div
					textarea.editor(name="nodeContent")= nodeContent
				.form-actions
					button.btn.btn-primary(type="submit") 提交