extends layout
block head
    link(rel='stylesheet', href='/css/column.css')
    script.
        $(document).ready(function(){
            $('.carousel').carousel();
            });
block content
    #page-body
        .container
            .row
                .span3
                    #side-nav
                        h2= columnName
                            span.back-to-home
                                a(href="/") 返回首页&lt;
                        ul
                            if articles[column]
                                each art in articles[column]
                                    if art
                                        if art.nodeName
                                            li: a(href="/node/#{art.nodeName}")= art.title
                                        else
                                            li: a(href="/article/#{art._id}")= art.title
                    include weiboshow
                .span9
                    if articles[column]
                        each art, index in articles[column]
                            if art && index < 5
                                .article-brief
                                    if art.nodeName
                                        h2: a(href="/node/#{art.nodeName}")= art.title
                                    else
                                        h2: a(href="/article/#{art._id}")= art.title
                                    if art.album && art.album.length > 0
                                        img(src="#{art.album[0]}")
                                    if art.abstract
                                        p= art.abstract
                                    else
                                        p= S(art.content).stripTags().decodeHTMLEntities().trim().s.substring(0, 200) + '...'