extends layout
block head
    link(rel='stylesheet', href='/css/index.css')
    script.
        $(document).ready(function(){
            $('.carousel').carousel();
            });
        
block content
    #slides
        .container
            #carousel.carousel.slide
                ol.carousel-indicators
                    li.active(data-target="#carousel", data-slide-to="0")
                    li(data-target="#carousel", data-slide-to="1")
                    li(data-target="#carousel", data-slide-to="2")
                .carousel-inner
                    .item.active
                        a(href="/article/520daa48ff52823dc7000002")
                            img(src="images/slide01.jpg", alt="#")
                    .item
                        a(href="/article/520daa55ff52823dc7000003")
                            img(src="images/slide02.jpg", alt="#")
                    .item
                        a(href="/article/520daa3fff52823dc7000001")
                            img(src="images/slide03.jpg", alt="#")
                a.left.carousel-control(href="#myCarousel", data-slide="prev") ‹
                a.right.carousel-control(href="#myCarousel", data-slide="next") ›
    #highlights
        .container
            .row
                .content-block.span4
                    h3 野地
                    if articles['yedi']
                        a.image(href="/article/#{articles['yedi'][0]._id}")
                            img(src="#{articles['yedi'][0].thumbnail[0]}", alt="#")
                        .content
                            h4 
                                a(href="/article/#{articles['yedi'][0]._id}")= articles['yedi'][0].title
                            .time= moment(articles['yedi'][0]._id.getTimestamp()).format('YYYY-MM-DD')
                            p= S(articles['yedi'][0].content).stripTags().decodeHTMLEntities().trim().s.substring(0, 45) + '...'
                            a.more(href="/column/yedi") more
                .content-block.span4
                    h3 行动
                    if articles['xingdong'][0]
                        a.image(href="/article/#{articles['xingdong'][0]._id}")
                            img(src="#{articles['xingdong'][0].thumbnail[0]}", alt="#")
                        .content
                            h4 
                                a(href="/article/#{articles['xingdong'][0]._id}")= articles['xingdong'][0].title
                            .time= moment(articles['xingdong'][0]._id.getTimestamp()).format('YYYY-MM-DD')
                            p= S(articles['xingdong'][0].content).stripTags().decodeHTMLEntities().trim().s.substring(0, 45) + '...'
                            a.more(href="/column/xingdong") more
                .content-block.span4#contact
                    h3 团队
                    a.image(href="/node/tuandui")
                        img(src="images/content03.png", alt="#")
                    .content
                        h2
                            img(src='images/contactIcon.png', alt='')
                            span   联系我们
                        ul
                            li 地址：北京大学保护生物学中心
                            li 邮编：1000871
                            li 电话：+86-10-62752721