extends layout
block head
    script(type="text/javascript", src="/js/lib/jquery.mousewheel-3.0.6.pack.js")
    link(rel="stylesheet", type="text/css", href="/js/lib/fancybox/jquery.fancybox.css?v=2.1.5")
    script(type="text/javascript", src="/js/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5")
    script(type="text/javascript", src="/js/lib/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5")
    
    script.
        $(document).ready(function(){
            $('.carousel').carousel();
            $(".fancybox").fancybox();
            });

block content
    #page-body
        .container
            .row
                .span3
                    #side-nav
                        h2 分享
                            span.back-to-home
                                a(href="/") 返回首页&lt;
                        ul
                            //- li: a(href="/share/news") 新闻
                            li: a(href="/share/photo/panda") 图片
                            li: a(href="/share/video") 视频
                            li: a(href="/share/data") 资料

                .span9
                    #share-center
                        case itemType
                            when 'video'
                                ul.videos
                                    each item in items
                                        li
                                            a(href=item.videolink, target="_blank")
                                                img(src=item.thumbnail, alt="")
                                                p= item.title
                            when 'photo'
                                ul.sub-nav
                                    li: a(href="/share/photo/panda") 大熊猫
                                    li: a(href="/share/photo/monkey") 白头叶猴
                                    li: a(href="/share/photo/dolphin") 白海豚
                                    li: a(href="/share/photo/other") 其他
                                ul.photos
                                    each item in items
                                        li
                                            a.fancybox(href=item.photolink)
                                                img(src=item.thumbnail, alt="")
                                                p= item.title
                            when 'data'
                                ul.data
                                    each item in items
                                        li
                                            a(href=item.datalink, target="_blank")
                                                img(src=item.thumbnail, alt="")
                                                p= item.title
                    .pagination
                        ul
                            - for (var x = 1; x <= pageCount; x++)
                                if x == curPage || pageCount == 1
                                    li.active: a(href="?page=#{x}")= x
                                else
                                    li: a(href="?page=#{x}")= x
