extends layout
block head
    script.
        $(document).ready(function(){
            $('.carousel').carousel();
            });

block content
    #page-body
        .container
            .row
                .span3
                    #side-nav
                        h2 分享
                            span.back-to-home
                                a(href="/") 返回首页&lt;
                        ul
                            //- li: a(href="/share/news") 新闻
                            li: a(href="/share/photos?type=panda") 图片
                            li: a(href="/share/videos") 视频
                            li: a(href="/share/data") 资料

                .span9
                    #share-center
                        case itemType
                            when 'video'
                                ul.videos
                                    each item in items
                                        li
                                            a(href=item.videolink, target="_blank")
                                                img(src=item.thumbnail, alt="")
                                                p= item.title
                            when 'photo'
                                ul.sub-nav
                                    li: a(href="/share/photo/?catalog=panda") 大熊猫
                                    li: a(href="/share/photo/?catalog=monkey") 白头叶猴
                                    li: a(href="/share/photo/?catalog=dolphin") 白海豚
                                    li: a(href="/share/photo/?catalog=other") 其他
                                ul.photos
                                    each item in items
                                        li
                                            a(href=item.photolink, target="_blank")
                                                img(src=item.thumbnail, alt="")
                                                p 2010年10月
                            when 'data'
                                ul.data
                                    each item in items
                                        li
                                            a(href=item.datalink, target="_blank")
                                                img(src=item.thumbnail, alt="")
                                                p= item.title
